* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(120deg, #A9A9A9 0%, #808080 100%);
    background-size: 300% 300%;
    animation: animate_background 5s ease infinite alternate;
}

header {
    background-color: #101010;
    width: 100%;
    height: 70px;
    box-shadow: 0px 5px 20px #000;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-left: 10px;
}

.menu li a:hover {
    color: #fff;
    display: block;
    text-decoration: none;
    background-color: #333;
}

.logo {
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    border: 5px solid #fff;
    border-radius: 20px;
    margin: 20px 7% 20px 7%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container div{
    flex: 1 1 350px;
    margin: 10px;
}

img {
    width: 100%;
    border-radius: 10px;
}

@keyframes animate_background {
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 50% 75%;
    }
    100%{
        background-position: 25% 100%;
    }
}